html {
  height: 100%;
  scroll-behavior: smooth;
  width: 99%;
}


h1 {
  color: #0800fa;
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
}


.header {
  overflow: hidden;
  width:100%;
  background:url("https://cdn.nohat.cc/thumb/f/720/4568883683917824.jpg");
  border-radius: 25px;
  background-size: cover;
  padding: 20px 10px;
}



.description {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 2;
}

.page-container {
    width: 1300px;
    position: relative;
}


.myButton {
  background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color: #ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  margin-left: 40px;
}

.myButton:hover {
	background-color:#5cbf2a;
}

.myButton:active {
	position:relative;
	top:1px;
}


.problem {
  margin-left: 40px;
}
